<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Projects</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <style>
    .feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: 0.75rem;

}
    
  </style>
</head>
<body style="background-color: ghostwhite;">
<!-- Navigation Bar -->
    <div class="container" >
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-4"></span>
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item"><a href="./index.html" class="nav-link" aria-current="page" routerLinkActive='active'>Home</a></li>
<!--            <li class="nav-item"><a href="#" class="nav-link">Features</a></li>-->
            <li class="nav-item"><a href="./about.html" class="nav-link" routerLinkActive='active'>About</a></li>
            <li class="nav-item"><a href="./contact.html" class="nav-link" routerLinkActive='active'>Contact</a></li>
            <!-- Drop down menu for stocks -->   
        </ul>
        </header>
    </div>

<!-- About Me -->
<div class="container px-5">
    <div class="row gx-5 align-items-center">
        <div class="col-lg-6 order-lg-2">
            <div class="p-5"><img class="img-fluid rounded-circle" src="../static/img/me.jpg" alt="..."></div>
        </div>
        <div class="col-lg-6 order-lg-1">
            <div class="p-5">
                <h2 class="display-4">About Me</h2>
                <p>Hi everyone, I'm Akhil Satya Sai Cherukuri, a freshman Computer Science student
                    at the University of Texas at Arlington. I've been interested in programming 
                    since I was in 10th grade, and I've been teaching myself how to code ever 
                    since.
                </p>
                <p><a href="./about.html">more</a></p>
            </div>
        </div>
    </div>
</div>

<!-- Herores -->
<div class="text-center mb-5">
    <b><h1 class="display-5 fw-bolder mb-0"><span class="text-primary">My Projects</span></h1></b>
</div>

<!-- Grid Layout for Projects -->
<!-- first four projects in grid layout -->
<div class="container">
    <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-6 mb-5">
            <a class="card lift h-100" href="./8_html_website.html">
                <img class="card-img-top" src="../static/img/stock_market (1).jpg" alt="...">
                <div class="card-body p-3">
                    <div class="card-title small mb-0">Stock News</div>
                </div>
            </a>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 mb-5">
            <a class="card lift h-100" href="./7_selenium_webdriver.html">
                <img class="card-img-top" src="../static/img/selenium_webdriver.gif" alt="...">
                <div class="card-body p-3">
                    <div class="card-title small mb-0">Selenium Web Driver</div>
                </div>
            </a>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 mb-5">
            <a class="card lift h-100" href="./6_web_scraping.html">
                <img class="card-img-top" src="../static/img/web-scraping.png" alt="...">
                <div class="card-body p-3">
                    <div class="card-title small mb-0">Web Scraping</div>
                </div>
            </a>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 mb-5">
            <a class="card lift h-100" href="./5_quizzez.html">
                <img class="card-img-top" src="../static/img/quizzez (1).png" alt="...">
                <div class="card-body p-3">
                    <div class="card-title small mb-0">Quizzez</div>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- second four cards in grid layout -->
<div class="container">
    <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-6 mb-5">
            <a class="card lift h-100" href="./4_weather_forecast.html">
                <img class="card-img-top" src="../static/img/rain_alert.webp" alt="...">
                <div class="card-body p-3">
                    <div class="card-title small mb-0">Weather Forecast</div>
                </div>
            </a>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 mb-5">
            <a class="card lift h-100" href="./3_flash_cards.html">
                <img class="card-img-top" src="../static/img/Flash_Cards.jpg" alt="...">
                <div class="card-body p-3">
                    <div class="card-title small mb-0">Flash Cards</div>
                </div>
            </a>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 mb-5">
            <a class="card lift h-100" href="./2_pong_game.html">
                <img class="card-img-top" src="../static/img/PONG-game.png" alt="...">
                <div class="card-body p-3">
                    <div class="card-title small mb-0">Pong Game</div>
                </div>
            </a>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 mb-5">
            <a class="card lift h-100" href="./1_snake_game.html">
                <img class="card-img-top" src="../static/img/snake_game (1).webp" alt="...">
                <div class="card-body p-3">
                    <div class="card-title small mb-0">Snake Game</div>
                </div>
            </a>
        </div>
    </div>
</div>

<!-- Footer -->
<div class="container">
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center">
<!--      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>-->
<!--      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Features</a></li>-->
<!--      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Pricing</a></li>-->
<!--      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">FAQs</a></li>-->
<!--      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>-->
        </ul>
        <p class="text-center text-body-secondary">© 2023 Company, Inc</p>
    </footer>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>

</html>      